
:root {
  --clr-accent-200: hsl(333, 80%, 67%);
  --clr-accent-600: hsl(300, 43%, 22%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(300, 24%, 96%);
  --clr-neutral-600: hsl(303, 10%, 53%);

  --fs-body: .9375rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --ff-primary: 'League Spartan', sans-serif;
}

html{
  font-size: 15px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--ff-primary);
  color: var(--clr-neutral-600);
  background-image: 
    url(../images/bg-pattern-top-desktop.svg), 
    url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}

/*-- Typography --*/

span {
  color: var(--clr-accent-200);
}

.customer-name {
  color: var(--clr-neutral-300);
}

/* -- Layout -- */

.customer-image {
  border-radius: 100%;
}